# Adscititious files ignore
.idea
CMakeFiles
cmake-build-debug
CMakeCache*
cmake_install*

# Halite files
halite*
*.hlt
*.log

# Visual Studio
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/MyBot.sln
/MyBot.vcxproj
/MyBot.vcxproj.filters
/.vs/

# Windows Run Support
*.bat

# Others
*.cbp
*.zip
*cache*
